<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415671723442-08gmfdv4aqphdgjtvrj709pqbfn7ihib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415671723442-08gmfdv4aqphdgjtvrj709pqbfn7ihib</string>
	<key>API_KEY</key>
	<string>AIzaSyDf1CWMa_QTX5p_a1oI6OvkJgzasqqE_tk</string>
	<key>GCM_SENDER_ID</key>
	<string>415671723442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.punreachrany.iOS-Susu-Messenger</string>
	<key>PROJECT_ID</key>
	<string>ios-susu-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-susu-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415671723442:ios:48e4cda9bcc58be7c370ab</string>
</dict>
</plist>